<!--
  Generated template for the FormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<script src="../home/home.ts"></script>
<ion-header>
  <ion-navbar>
    <ion-title>form</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-row justify-content-center>
    <ion-card >
      <div *ngFor="let item of items">

        <div *ngIf="item.type === 'password' && this.display===false">
          <ion-item>
            <ion-label floating>{{item.name}}</ion-label>
            <ion-input  type="password" [(ngModel)]="item.value" [ngStyle]="this.requestField.style"></ion-input>
            <button ion-button round (click)="displayPassword()">Afficher le mot de passe</button>
          </ion-item>

        </div>
        <div *ngIf="item.type === 'password' && this.display===true">
          <ion-item>
            <ion-label floating>{{item.name}}</ion-label>
            <ion-input [(ngModel)]="item.value" [ngStyle]="this.requestField.style"></ion-input>
            <button ion-button round (click)="displayPassword()">Masquer le mot de passe</button>
          </ion-item>
        </div>

        <div *ngIf="item.type === 'email'">
          <ion-item>
            <ion-label floating>{{item.name}}</ion-label>
            <ion-input type="email" [(ngModel)]="item.value" [ngStyle]="this.requestField.style"></ion-input>
          </ion-item>
        </div>

        <div *ngIf="item.type !== 'password' && item.type !== 'email'">
          <ion-item>
            <ion-label floating>{{item.name}}</ion-label>
            <ion-input [(ngModel)]="item.value" [ngStyle]="this.requestField.style"></ion-input>
          </ion-item>
        </div>

      </div>

    </ion-card>

      <button ion-button round full (click)="saveData()">Sauvegarder</button>

  </ion-row>

</ion-content>
