<ion-header>
  <ion-navbar>
    <div *ngIf="field !== undefined">
      <ion-title *ngIf="field.title === undefined">Votre liste</ion-title>
      <ion-title *ngIf="field.title !== undefined">{{field.title}}</ion-title>
    </div>
   </ion-navbar>
</ion-header>

<ion-content *ngIf="field !== undefined" padding>
  <ion-card *ngFor="let val of values; let i = index">
    <ion-list>
      <ion-item *ngFor="let item of val" [ngStyle]="drawStyle(i)">
        <ion-label>
          {{drawItem(i, item)}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

